@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

/*Default: Devices from 0px till 549px */

* {
    margin-bottom: 12px;
}

html {
    background-color: hsl(210, 31%, 80%);
    width: 100%;
    height: 100%;
    line-height: normal;
    font-family: 'Roboto Mono', monospace;
    font-size: 100%;
}

body {
    margin: 100%;
    height: 24px;
}

button {
    width: 100%;
    height: 2rem;
}


/*Tablets */
@media (min-widht: 550px) {

    html {
        background-color: darkmagenta;
    }

    button {
        width: 20rem;
    }
}


